<app-header titulo="Cards"></app-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item slot="start" color="primary">
      <ion-icon color="light" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>


    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, nisi? Blanditiis, corrupti dolorem. Esse facere, 
      nemo dolor ipsum eum assumenda dolores. Ullam exercitationem voluptatibus iure vel maiores labore ipsa illo?
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita tenetur quo incidunt in neque! 
      Accusantium quasi qui non facere. Molestiae, necessitatibus? Sapiente debitis expedita, saepe explicabo ea eum tempora dolor?
    </ion-card-content>
  </ion-card>

</ion-content>
